extends layout

block content
  if location && location.LocationID
    h1 Edit Location #{location.LocationID}
  else
    h1 New Location

  form(method="post", action=formAction)
    //- Name
    div
      label(for="Name") Name
      input#Name(type="text", name="Name", required, maxlength="30", value=location.Name || '')
    //- Description
    div
      label(for="Description") Description
      input#Description(type="text", name="Description", maxlength="50", value=location.Description || '')
    div
      button(type="submit")= submitLabel
      a.button-nav-cancel(href=`/locations/`) Cancel
