extends layout

block content
  .logout-button-container
    a.button-schedule(href="/schedule") Schedule
    a.button-logout(href="/") Log out
  if location && location.LocationID
    h1 Edit Location #{location.LocationID}
  else
    h1 New Location

  form(method="post", action=formAction)
    //- Name
    div
      label(for="Name") Name
      input#Name(type="text", name="Name", required, maxlength="30", value=location.Name || '')
    //- Description (larger textarea)
    div
      label(for="Description") Description
      textarea#Description(name="Description", rows="4", maxlength="200")= location.Description || ''
    div
      button(type="submit")= submitLabel
      a.button-nav-cancel(href=`/locations/`) Cancel
