extends layout

block content
  h1 Machines
  a(href="/machines/new") Add Machine
  if machines.length === 0
    p No machines yet.
  else
    table(border="1" cellpadding="6" cellspacing="0")
      thead
        tr
          //th ID
          th Name
          th Working
          th SerialNumber
          th Model
          th Actions
      tbody
        each m in machines
          tr
            //td= m.MachineID
            td
              if m.MachineName
                a(href=`/machines/${m.MachineID}/supplies`)= m.MachineName
              else
                | -
            td
              if m.WorkingStatus
                | ✓
              else
                | ✗
            td= m.SerialNumber || '-'
            td= m.Model || '-'
            td
              //a(href=`/machines/${m.MachineID}/edit`) Edit
              if m && m.MachineID
                form(method="post", action=`/machines/${m.MachineID}/edit`)
                  button(type="submit") Edit
                form(method="post", action=`/machines/${m.MachineID}/delete`, onsubmit="return confirm('Delete this machine?');")
                  button(type="submit") Delete
                