extends layout


block content
  .logout-button-container
    a.button-logout(href="/") Log out

  // Admin Start Inventory button (top right, below navbar)
  if isAdmin
    .start-inventory-container
      a.button-start-inventory(href="/start-inventory") Start Inventory

  p
    a.button-nav(href="/machines/new") Add Machine
  p 
    a.button-nav(href=`/locations/`) Locations

  if machines.length === 0
    p No machines yet.
  else
    .machine-grid
      each machine in machines
          .machine-card
            h3= machine.MachineName

            p
              strong Model:
              | #{machine.Model || "N/A"}

            p
              strong Serial Number:
              | #{machine.SerialNumber || "N/A"}

            p
              strong Status:
              if machine.WorkingStatus
                span.status-ok Working
              else
                span.status-bad Not Working

            .card-actions
              a.button(href=`/machines/${machine.MachineID}/supplies`) Supplies
              a.button(href=`/machines/${machine.MachineID}/edit`) Edit
              form(method="post", action=`/machines/${machine.MachineID}/delete`, onsubmit="return confirm('Delete this machine and all its supplies?');", style="display:inline;")
                button.delete(type="submit") Delete


  p ***You can only delete machines that do not have any supplies.