//- views/machines_form.pug
extends layout

block content
  if machine && machine.MachineID
    h1 Edit #{machine.MachineName}
  else
    h1 New Machine

  form(method="post", action=formAction)
    //- MachineName
    div
      label(for="MachineName") Name
      input#MachineName(type="text", name="MachineName", required, maxlength="30", value=machine.MachineName || '')
    //- WorkingStatus checkbox
    div
      label(for="WorkingStatus")
        input#WorkingStatus(type="checkbox", name="WorkingStatus", checked=(machine.WorkingStatus ? true : false))
        |  Working
    //- SerialNumber
    div
      label(for="SerialNumber") Serial Number
      input#SerialNumber(type="text", name="SerialNumber", maxlength="20", value=machine.SerialNumber || '')
    //- Model
    div
      label(for="Model") Model
      input#Model(type="text", name="Model", maxlength="20", value=machine.Model || '')
    //- submit
    div
      button(type="submit")= submitLabel
      a.button-nav-cancel(href=`/machines/`) Cancel
