extends layout

block content
  
  p 
    a.button-nav(href="/") Go back Home
  p
    a.button-nav(href="/machines/new") Add Machine
  p 
    a.button-nav(href=`/locations/`) Locations

  if machines.length === 0
    p No machines yet.
  else
    .machine-grid
      each machine in machines
          .machine-card
            h3= machine.MachineName

            p
              strong Model:
              | #{machine.Model || "N/A"}

            p
              strong Serial Number:
              | #{machine.SerialNumber || "N/A"}

            p
              strong Status:
              if machine.WorkingStatus
                span.status-ok Working
              else
                span.status-bad Not Working

            .card-actions
              a.button(href=`/machines/${machine.MachineID}/supplies`) Supplies
              a.button(href=`/machines/${machine.MachineID}/edit`) Edit
              a.button.delete(href=`/machines/${machine.MachineID}/delete`) Delete


  p ***You can only delete machines that do not have any supplies.