extends layout

block content
  h1 #{machine.MachineName}
  p 
    a.button-nav(href=`/machines/`) Go Back To List of Machines
  p 
    a.button-nav(href=`/machines/${machine.MachineID}/supplies/new`) Add New Supply
  p 
    a.button-nav(href=`/locations/`) View Locations
  if supplies.length === 0
    p No supplies yet.
  else
    table(border="1" cellpadding="6" cellspacing="0")
      thead
        tr
          //th ID
          th Name
          th Location
          th Brand
          th Color
          th Count/Status
          th Status
          th Actions
      tbody
        each s in supplies
          tr
            td= s.SupplyName
            td= s.LocationName || '-'
            td= s.Brand || '-'
            td= s.Color || '-'
            td
              if s.SupplyType === 'Countable'
                = s.Count
              else if s.SupplyType === 'Status'
                if s.Status === 1
                    | Plenty
                else if s.Status === 0
                    | Need more
            
            td
                if s.SupplyType === 'Countable'
                    if s.Count <= s.CriticalLevel
                        span(style="color:red; font-weight:bold") ❌ Needs Order
                    else 
                        span(style="color:green; font-weight:bold") ✅ OK
                else if s.SupplyType === 'Status'
                    if s.Status === 1
                        span(style="color:green; font-weight:bold") ✅ OK
                    else if s.Status === 0
                        span(style="color:red; font-weight:bold") ❌ Needs Order
            td.form
              //a(href=`/machines/${m.MachineID}/edit`) Edit
              if machine && machine.MachineID
                form(method="post", action=`/machines/${machine.MachineID}/edit`)
                  button(type="submit") Edit
                form(method="post", action=`/machines/${machine.MachineID}/delete`, onsubmit="return confirm('Delete this machine?');")
                  button(type="submit") Delete