extends layout

block content
  .logout-button-container
    a.button-logout(href="/") Log out

  h1= worker.FirstName + ' ' + worker.LastName + ' - Machine Specialties'
  
  p 
    a.button-nav(href=`/workers/`) Back to Workers

  h2 Add New Specialty
  form(method="post", action=`/worker-specialty/${worker.WorkerID}/add`)
    div
      label(for="MachineID") Machine:
      select#MachineID(name="MachineID", required)
        option(value="") -- Select Machine --
        each machine in allMachines
          option(value=machine.MachineID)= machine.MachineName
    div
      button(type="submit") Add Specialty

  h2 Current Specialties
  
  if specialties.length === 0
    p This worker has no machine specialties assigned yet.
  else
    table(border="1" cellpadding="6" cellspacing="0")
      thead
        tr
          th Machine Name
          th Actions
      tbody
        each specialty in specialties
          tr
            td= specialty.MachineName
            td.form
              form(method="post", action=`/worker-specialty/delete/${specialty.WorkerSpecialtyID}`, onsubmit="return confirm('Remove this specialty?');")
                button.delete(type="submit") Remove
