extends layout

block content
  .logout-button-container
    a.button-logout(href="/") Log out

  if worker && worker.WorkerID
    h1 Edit Worker
  else
    h1 New Worker

  form(method="post", action=formAction)
    div
      label(for="FirstName") First Name:
      input#FirstName(type="text", name="FirstName", required, maxlength="20", value=worker ? worker.FirstName : "")

    div
      label(for="LastName") Last Name:
      input#LastName(type="text", name="LastName", required, maxlength="20", value=worker ? worker.LastName : "")

    div
      label(for="IsBoss")
        input#IsBoss(type="checkbox", name="IsBoss", checked=(worker && worker.IsBoss ? true : false))
        |  Is Boss

    div
      label(for="PhoneNumber") Phone Number:
      input#PhoneNumber(type="text", name="PhoneNumber", maxlength="10", value=worker ? worker.PhoneNumber : "")

    div
      label(for="Email") Email:
      input#Email(type="email", name="Email", maxlength="30", value=worker ? worker.Email : "")

    div
      button(type="submit")= submitLabel
      a.button-nav-cancel(href=`/workers/`) Cancel

  if worker && worker.WorkerID
    hr
    
    h2 Machine Specialties
    
    h3 Add New Specialty
    form(method="post", action=`/workers/${worker.WorkerID}/add-specialty`)
      div
        label(for="MachineID") Machine:
        select#MachineID(name="MachineID", required)
          option(value="") -- Select Machine --
          each machine in machines
            option(value=machine.MachineID)= machine.MachineName
      div
        button(type="submit") Add Specialty
    
    h3 Current Specialties
    if specialties && specialties.length > 0
      table(border="1" cellpadding="6" cellspacing="0")
        thead
          tr
            th Machine Name
            th Actions
        tbody
          each specialty in specialties
            tr
              td= specialty.MachineName
              td.form
                form(method="post", action=`/workers/${worker.WorkerID}/delete-specialty/${specialty.WorkerSpecialtyID}`, onsubmit="return confirm('Remove this specialty?');")
                  button.delete(type="submit") Remove
    else
      p No specialties assigned yet.
    
    hr
    
    h2 Availability Schedule
    
    h3 Add New Availability
      form(method="post", action=`/workers/${worker.WorkerID}/add-availability`)
        div
          label(for="DayOfWeek") Day:
          select#DayOfWeek(name="DayOfWeek", required)
            option(value="") -- Select Day --
            option(value="2") Monday
            option(value="3") Tuesday
            option(value="4") Wednesday
            option(value="5") Thursday
            option(value="6") Friday
        div
          label(for="StartTime") Start Time:
          input#StartTime(type="time", name="StartTime", required)
        div
          label(for="EndTime") End Time:
          input#EndTime(type="time", name="EndTime", required)
        div
          button(type="submit") Add Availability
    
    h3 Current Availability
      if availabilities && availabilities.length > 0
        table(border="1" cellpadding="6" cellspacing="0")
          thead
            tr
              th Day
              th Time
              th Actions
          tbody
            each avail in availabilities
              tr
                - var dayNames = {2: 'Monday', 3: 'Tuesday', 4: 'Wednesday', 5: 'Thursday', 6: 'Friday'}
                td= dayNames[avail.DayOfWeek] || avail.DayOfWeek
                td= avail.StartTime.substring(0, 5) + ' - ' + avail.EndTime.substring(0, 5)
                td.form
                  form(method="post", action=`/workers/${worker.WorkerID}/delete-availability/${avail.WorkerAvailabilityID}`, onsubmit="return confirm('Remove this availability?');")
                    button.delete(type="submit") Remove
      else
        p No availability scheduled yet.
