extends layout

block content
  .logout-button-container
    a.button-logout(href="/") Log out

  if worker && worker.WorkerID
    h1 Edit Worker
  else
    h1 New Worker

  form(method="post", action=formAction)
    div
      label(for="FirstName") First Name:
      input#FirstName(type="text", name="FirstName", required, maxlength="20", value=worker ? worker.FirstName : "")

    div
      label(for="LastName") Last Name:
      input#LastName(type="text", name="LastName", required, maxlength="20", value=worker ? worker.LastName : "")

    div
      label(for="IsBoss")
        input#IsBoss(type="checkbox", name="IsBoss", checked=(worker && worker.IsBoss ? true : false))
        |  Is Boss

    div
      label(for="PhoneNumber") Phone Number:
      input#PhoneNumber(type="text", name="PhoneNumber", maxlength="10", value=worker ? worker.PhoneNumber : "")

    div
      label(for="Email") Email:
      input#Email(type="email", name="Email", maxlength="30", value=worker ? worker.Email : "")

    div
      button(type="submit")= submitLabel
      a.button-nav-cancel(href=`/workers/`) Cancel
