//- views/machines.pug
extends layout

block content
  h1 Machines
  a(href="/machines/new") Add Machine
  if machines.length === 0
    p No machines yet.
  else
    table(border="1" cellpadding="6" cellspacing="0")
      thead
        tr
          th ID
          th Name
          th Working
          th SerialNumber
          th Model
          th Actions
      tbody
        each m in machines
          tr
            td= m.MachineID
            td= m.MachineName
            td
              if m.WorkingStatus
                | ✓
              else
                | ✗
            //- SerialNumber clickable -> goes to edit by MachineID
            td
              if m.SerialNumber
                a(href=`/machines/${m.MachineID}/edit`)= m.SerialNumber
              else
                | -
            td= m.Model || '-'
            td
              a(href=`/machines/${m.MachineID}/edit`) Edit
